<!-- Image and text -->
<nav class="navbar navbar-default mt-4 mb-4">
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >
          <img src="../../assets/back.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Back
        </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
                <div class="card zoom">
                        <div class="card-body">
                            <img src="../../assets/vc1.gif" class="img-fluid rounded"  style="height: 500px; width: 500px;" alt="">
                        </div>
                </div>
        </div>
        <div class="col-md-6">
                <div class="card zoom">
                        <div class="card-body">
                            <img src="../../assets/vc2.gif" class="img-fluid rounded"  style="height: 500px; width: 500px;" alt="">
                        </div>
                </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="text-center">
                
            </div>
        </div>
    </div>
</div>